#That's enviroments variables, so any security issue introduced.

# PostgreSQL
POSTGRES_CONTAINER=manutencao_db
POSTGRES_USER=manutencao_user
POSTGRES_PASSWORD=lb7hY3fJUOIs0MBotxWHE13MwFGHKVnm
POSTGRES_DB=manutencao_db
POSTGRES_PORT=5433

# JWT — use a long random string (minimum 32 characters)
JWT_SIGNING_KEY=NC4B3heyCdgiawzzOenVgd4ZjctO2QNGXhyfyxhN2+g=
JWT_EXPIRES_MINUTES=60