#That's enviroments variables, so any security issue introduced.

# PostgreSQL
POSTGRES_CONTAINER=manutencao_db
POSTGRES_USER=manutencao_user
POSTGRES_PASSWORD=lb7hY3fJUOIs0MBotxWHE13MwFGHKVnm
POSTGRES_DB=manutencao_db
POSTGRES_PORT=5433

# Admin user (seeded automatically on first run)
ADMIN_EMAIL=admin@empresa.com
ADMIN_PASSWORD=irFiLlVJQ32cPCyScekubcgkMD6NH4ya

# JWT — use a long random string (minimum 32 characters)
JWT_SIGNING_KEY=NC4B3heyCdgiawzzOenVgd4ZjctO2QNGXhyfyxhN2+g=
JWT_EXPIRES_MINUTES=60